 <table class="table">
   <thead>
     <tr>
       <th>ID</th>
       <th>Név</th>
       <th>Kor</th>
       <th>Nem</th>
       <th>Pontszám</th>
       <th>Műveletek</th>
     </tr>
   </thead>
   <tbody>
     {{#each students}}
     <tr>
       <td>{{id}}</td>
       <td>{{name}}</td>
       <td>{{age}}</td>
      {{#if sex}}
        <td>nő</td>
      {{else}}
        <td>férfi</td>
      {{/if}}
       <td>{{score}}</td>
       <td>
         <a href="/students/{{id}}">Mutat / </a>
         <a href="/students/{{id}}/edit">Adatok frissítése</a>
         <form action="/students/{{id}}?_method=DELETE" method="POST">
         <button type="submit" class="btn btn-danger">Töröl</button>
         </form>

       </td>
     </tr>
     {{/each}}
   </tbody>

 </table>

<h2>
    <a href="/students/new">New Student</a>
</h2>

{{#if lastPage}}
  <h2>
    <a href="/students?page={{next}}">Next Page</a>
  </h2>
{{/if}}

{{#each pages}}
  {{#currentPage this ../pageNumber}}
    <span style="font-weight: bold">{{this}}</span>
  {{else}}
    <a href="/students?page={{../this}}">{{../this}}</a>
  {{/currentPage}}
{{/each}}

{{#if firstPage}}
  <h2>
    <a href="/students?page={{prev}}">Previous Page</a>
  </h2>
{{/if}}