<ul>
  <p>{{student.name}}</p>
  {{#if student.sex}}
      <p>nő</p>
  {{else}}
      <p>férfi</p>
  {{/if}}
  <p>{{student.score}}</p>
  <p>{{student.age}}</p>
</ul>

<a href="/students/{{student.id}}/edit">Adatok frissítése</a>

<form action="/students/{{student.id}}?_method=DELETE" method="POST">
  <input type="submit" value="Törlés">
</form>

<a href="/students">Vissza</a>